.input {
    margin: var(--window-margin-up) auto;
    max-width: 400px;
    padding: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.input-block {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.input-field {
    padding: 12px;
    background-color: var(--background-color);
    border: var(--border);
    color: var(--white);
}

.input-field::placeholder {
    color: var(--dark-gray);
}

.input-field.error {
    border: var(--error-border);
}

.error-text {
    font-size: 12px;
    color: var(--red);
}

.submit-btn {
    width: 100%;
    margin-top: 5px;
}

.remember {
    width: 100%;
}